<ul class="products_list"></ul>
  {{#each products}}
    <li>
    <h1>Name: {{name}}</h1>
    <p>price: {{price}}</p>
    <p>category: {{category}}</p>
    <p>inStock: {{inStock}}</p>
    </li>
  {{/each}}
</ul>